config/*.js
scripts/*.js
public/lib/
src/serviceWorker.js
build/
packages/
dist
core/
bin
/lib

/src/components/hipsEditor
/src/components/hipsUeditor
/src/components/hipsShowEmoji
/src/components/hipsCropUpload

.eslintrc
package.json