{
    "parser": "babel-eslint", //制定解析器
    "extends": "airbnb",// 设置airbnb扩展
    "plugins": ["compat"], // 设置插件
    "env": { // 运行环境
      "browser": true,
      "node": true,
      "es6": true,
      "mocha": true,
      "jest": true,
      "jasmine": true
    },
    "rules": { // eslint 规则设置
      "linebreak-style":["error","windows"],
      "arrow-parens": [0], // 箭头函数参数不必需加括号
      "comma-dangle": [2, "never"],//对象字面量项尾不能有逗号
      "quotes":[0,"single"], // 字符串单双引号都可以
      "generator-star-spacing": [0], // 强制 generator 函数中 * 号周围有空格
      "consistent-return": [0], // 要求使用一致的 return 语句
      "react/forbid-prop-types": [0], // 禁止某些propTypes
      "react/prop-types": [0],
      "react/require-default-props": 0, // 为每个不属于必需prop属性强制执行defaultProps定义
      "react/jsx-filename-extension": [1, { "extensions": [".js"] }], // 允许使用“.js”作为jsx的扩展文件名
      "react/jsx-props-no-spreading": [0],
      "global-require": [1], // 允许全局使用require
      "import/prefer-default-export": [0], // 当模块只有一个导出时,使用默认的导出.
      "react/jsx-no-bind": [0], // JSX prop中没有.bind（）或者箭头函数
      "react/prefer-stateless-function": [0], // 强制无状态React组件写成纯函数
      "no-else-return": [0], // 禁止在 else 前有 return
      "no-restricted-syntax": [0], // 禁止使用特定的语法
      "import/no-extraneous-dependencies": [0], // 禁止使用无关的包
      "no-use-before-define": [0], // 禁止定义前使用 
      "jsx-a11y/no-static-element-interactions": [0], // 禁止静态dom元素交互
      "jsx-a11y/no-noninteractive-element-interactions": [0], //禁止非交互式dom元素交互
      "jsx-a11y/click-events-have-key-events": [0], // 
      "jsx-a11y/anchor-is-valid": [0],
      "no-nested-ternary": [0], // 禁止使用嵌套的三元表达式 
      "arrow-body-style": [0], // 要求箭头函数体使用大括号
      "import/extensions": [0], // 确保在导入路径中一致地使用文件扩展名
      "no-bitwise": [0], // 禁止使用按位操作符
      "no-cond-assign": [0], // 禁止在条件语句中出现赋值操作符
      "import/no-unresolved": [0],
      "no-plusplus": [0],
      "comma-dangle": ["error", { // 要求或禁止使用拖尾逗号
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }],
      "object-curly-newline": [0], // 强制在花括号内使用一致的换行符
      "function-paren-newline": [0],
      "no-restricted-globals": [0], // 禁用特定的全局变量
      "require-yield": [1], // 禁用函数内没有yield的 generator 函数
      "compat/compat": "error"
    },
    "parserOptions": {
      "ecmaFeatures": {
        "experimentalObjectRestSpread": true //允许使用第三方的变量
      }
    },
    "settings": { // 设置fetch polyfills
      "polyfills": ["fetch"]
    }
  }
  