{
  "extends": "stylelint-config-standard", // 设置stylelint扩展
  "rules": { // 设置stylelint规则
    "selector-pseudo-class-no-unknown": null, // 不允许css规范外的伪类选择器（：hover之类）
    "shorthand-property-no-redundant-values": null, // 禁止在简写属性中使用冗余值
    "at-rule-empty-line-before": null, // 要求或禁止在 at 规则之前有空行
    "at-rule-name-space-after": null, // 要求在 at 规则之后有一个空格
    "comment-empty-line-before": null, // 要求或禁止在注释之前有空行
    "declaration-bang-space-before": null, // 在感叹号之前要求有一个空格或禁止有空白
    "declaration-empty-line-before": null, // 要求或禁止在声明语句之前有空行
    "function-comma-newline-after": null, // 在函数的逗号之后要求有一个换行符或禁止有空白
    "function-name-case": null, // 指定函数名称的大小写
    "function-parentheses-newline-inside": null, // 在函数的括号内要求有一个换行符或禁止有空白
    "function-max-empty-lines": null, // 限制函数中相邻的空行数量
    "function-whitespace-after": null, // 要求或禁止在函数之后有空白
    "number-leading-zero": null, // 要求或禁止小于 1 的小数的前导 0
    "number-no-trailing-zeros": null, // 禁止数字中的拖尾 0
    "rule-empty-line-before": null, // 要求或禁止在 at 规则之前有空行 
    "selector-combinator-space-after": null, // 在关系选择符之后要求有一个空格或禁止有空白
    "selector-list-comma-newline-after": null, // 要求选择器列表的逗号之后有一个换行符或禁止在逗号之后有空白
    "selector-pseudo-element-colon-notation": null, // 指定伪元素使用单冒号还是双冒号
    "unit-no-unknown": null, // 禁止使用未知单位
    "value-list-max-empty-lines": null // 限制值列表中相邻空行数量
  }
}
